<!DOCTYPE html>
<html>
<head>
    <title>view caliberate</title>
    <style>
        table {
            border-collapse: collapse;
        }
        th, td {
            border: 1px solid black;
            padding: 8px;
        }
    </style>
</head>
<body>
    <h1>View Caliberate</h1>
    
    {% if num_contours %}
    {% if filename %}
    {% if actual_length %}
    {% if actual_width %}

    <table>
           <tr>
                
                <th>Serial Number</th>
                <th>Shape</th>
                <th>Actual length</th>
                <th>Actual width</th> 
                


           </tr>
            
           {% for i in range(num_contours) %}
               
                <tr>
                
                    <td>{{ i+1 }}</td>
                    <td><img src="{{ url_for('static', filename='image/contour_' ~ i|string ~ '.png') }}" alt="Contour {{ i+1 }}"></td>
                    <td>{{ actual_length[i] }}</td>
                    <td>{{ actual_width[i] }}</td>
 
                </tr>
           {% endfor %}
            
    </table>
    {% endif %}
    {% endif %}
    {% endif %}
    {% endif %}  
</body>
</html>
